:root {
  --text-color: #292929;
  --line-color: #606060;
  --grip-start-color: #c4c4c4;
  --border-color: #cccccc;
  --base-bg-color: #eaeaea;
  --list-bg-color: #fcfcfc;
  --list-bg-color-rgb: 252, 252, 252;
  --base-font-family: 'Noto Sans JP', sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--base-bg-color);
}

.todo {
  margin: 0 auto;
  width: 90%;
  &__ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style-type: none;
  }
  &__li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px;
    background-color: var(--list-bg-color);
    cursor: pointer;
    &:not(&:last-child)::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - 64px);
      height: 1px;
      background-color: var(--border-color);
    }
    &:first-child {
      border-radius: 8px 8px 0 0;
    }
    &:last-child {
      border-radius: 0 0 8px 8px;
    }
    &.grip-start {
      background-color: var(--grip-start-color);
    }
    &:hover {
      & .todo__griplines {
        &:nth-child(1) {
          transform: translateY(-4px);
        }
        &:nth-child(2) {
          transform: translateY(4px);
        }
      }
      & .todo__text {
        transform: scale(1.018);
        transform-origin: left center;
      }
    }
    &.grip {
      background-color: rgba(var(--list-bg-color-rgb), 0.7);
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.25);
      transform: scale(1.025);
      transform-origin: center center;
      transition: transform 0.1s ease;
      z-index: 100;
      &::after {
        content: '';
        display: none;
      }
      & .todo__griplines {
        &:nth-child(1) {
          transform: translateY(-2px);
        }
        &:nth-child(2) {
          transform: translateY(2px);
        }
      }
    }
  }
  &__button {
    padding: 0 20px 0 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__griplines {
    position: relative;
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--line-color);
    transition: transform 0.2s linear;
    &:nth-child(1) {
      transform: translateY(-3px);
    }
    &:nth-child(2) {
      transform: translateY(3px);
    }
  }
  &__text {
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 1.6rem;
    color: var(--text-color);
    transition: transform 0.2s linear;
  }
}
